/* @font-face {
  font-family: "Prima-Serif-Bold-Bt";
  src: url('./fonts/prima_serif_bold_bt.woff') format('woff'), url("./fonts/prima_serif_bold_bt.ttf") format("truetype");
} */

@font-face {
  font-family: "Prima-Serif-BT-Roman";
  src: url('./fonts/PrimaSerifBT-Roman.otf') format('otf');
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#smoke-logo:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #f00, #0f0);
  mix-blend-mode: color;
  pointer-events: none;
}

#smoke-logo {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.logo-wrapper {
  position: absolute;
  top: 10%;
  left: 10%;
  box-sizing: border-box;
  font-size: 200px;
  /* font-family: 'Domine'; */
  font-family: "Prima-Serif-BT-Roman";
  text-align: left;
}

.cannabar {
  padding: 15px 10px 25px 10px;
  letter-spacing: -25px;
  line-height: 150px;
  font-weight: 400;
  margin: 5px;
  animation-duration: 5.5s;
  overflow: hidden;
  color: #fff;
}

p.cannabar span {
  display: inline-block;
  opacity: 0;
  animation: revealLeft 3s linear forwards 1;
}

p.cannabar span.border {
  position: absolute;
  transition: 250ms ease;
  box-sizing: border-box;
  background: #fff;
  /* animation: borderSlideIn linear forwards;
  animation-duration: 5500ms; */
}

p.cannabar span.border:nth-child(1) {
  top: 0;
  left: 0;
  height: 10px;
  width: 100%;
  transform: translateX(-100%);
}

p.cannabar span.border:nth-child(2) {
  top: 0;
  right: 0;
  height: calc(100% - 40px);
  width: 10px;
  transform: translateY(100%);
}

p.cannabar span.border:nth-child(3) {
  bottom: 40px;
  right: 0;
  height: 10px;
  width: 100%;
  transform: translateX(100%);
}

p.cannabar span.border:nth-child(4) {
  top: 0;
  left: 0;
  height: calc(100% - 40px);
  width: 10px;
  transform: translateY(-100%);
}

svg {
  height: 150px;
  width: 150px;
  margin: 0 -25px;
  padding: 0;
  /* box-shadow: 1px 1px 15px #0f0; */
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
}

.coffeeshop {
  font-size: 30px;
  margin: 0;
  color: #fff;
}

p.coffeeshop span {
  display: inline-block;
  opacity: 0;
  animation: revealTop 3s linear forwards;
  animation-delay: 5s;
}

/* animations */

/* Border SlideIn Animation */

@keyframes borderSlideIn {
  0% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(0);
  }
}

/* Letters cannabar and weed leaf reveal */

@keyframes revealLeft {
  0% {
    opacity: .9;
    transform: rotateY(90deg);
  }
  100% {
    opacity: 1;
    transform: rotateY(0deg);
  }
}

p.cannabar span:nth-child(1) {
  animation-delay: .5s;
}

p.cannabar span:nth-child(2) {
  animation-delay: 1s;
}

p.cannabar span:nth-child(3) {
  animation-delay: 1.5s;
}

p.cannabar span:nth-child(5) {
  animation-delay: 2s;
}

p.cannabar span:nth-child(6) {
  animation-delay: 2.5s;
}

p.cannabar span:nth-child(7) {
  animation-delay: 3s;
}

p.cannabar span:nth-child(9) {
  animation-delay: 3.5s;
}

p.cannabar span:nth-child(10) {
  animation-delay: 4s;
}

p.cannabar span:nth-child(11) {
  animation-delay: 4.5s;
}

/* Coffeeshop reveal from top */

@keyframes revealTop {
  0% {
    opacity: 0;
    transform: rotateX(90deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}

p.coffeeshop span:nth-child(1) {
  animation-delay: 5s;
}

p.coffeeshop span:nth-child(2) {
  animation-delay: 5.5s;
}

p.coffeeshop span:nth-child(3) {
  animation-delay: 6s;
}