@font-face {
  font-family: "Prima Serif";
  src: url('./fonts/PrimaSerifBT-Roman.otf') format('otf');
  src: url('./fonts/PrimaSerifBT-Roman.woff') format('woff');
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

#smoke-logo:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #f00, #0f0);
  mix-blend-mode: color;
  pointer-events: none;
}

#smoke-logo {
  width: 100%;
  height: 100%;
}

.logo-wrapper {
  position: absolute;
  top: 20%;
  left: 20%;
  box-sizing: border-box;
  font-size: 200px;
  /* font-family: 'Domine'; */
  font-family: "Prima Serif";
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 0;
  overflow: hidden;
}

.cannabar {
  padding: 15px 10px 25px 10px;
  letter-spacing: -25px;
  line-height: 150px;
  margin: 5px;
  animation-duration: 5.5s;
  color: #fff;
}

p.cannabar span.border {
  position: absolute;
  transition: 250ms ease;
  box-sizing: border-box;
  background: #fff;
}

p.cannabar span.border:nth-child(1) {
  top: 0;
  left: 0;
  height: 10px;
  width: 100%;
  transform: translateX(-100%);
  animation: borderSlideInLeft linear forwards;
  animation-duration: 500ms;
  animation-delay: 6s;
}

/* Border SlideIn from Left Animation */

@keyframes borderSlideInLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

p.cannabar span.border:nth-child(2) {
  top: 0;
  right: 0;
  height: calc(100% - 40px);
  width: 10px;
  transform: translateY(120%);
  animation: borderSlideInTop linear forwards;
  animation-duration: 500ms;
  animation-delay: 6.5s;
}

/* Border SlideIn from Top Animation */

@keyframes borderSlideInTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

p.cannabar span.border:nth-child(3) {
  bottom: 40px;
  right: 0;
  height: 10px;
  width: 100%;
  transform: translateX(100%);
  animation: borderSlideInRight linear forwards;
  animation-duration: 500ms;
  animation-delay: 5s;
}

/* Border SlideIn from Right Animation */

@keyframes borderSlideInRight {
  0% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(0);
  }
}

p.cannabar span.border:nth-child(4) {
  top: 0;
  left: 0;
  height: calc(100% - 40px);
  width: 10px;
  transform: translateY(-100%);
  animation: borderSlideInBottom linear forwards;
  animation-duration: 500ms;
  animation-delay: 5.5s;
}

/* Border SlideIn from Bottom Animation */

@keyframes borderSlideInBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

svg {
  height: 150px;
  width: 150px;
  margin: 0 -25px;
  padding: 0;
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
}

.coffeeshop {
  font-size: 30px;
  margin: 0;
  color: #fff;
}

p.cannabar span.letter {
  display: inline-block;
  opacity: 0;
  animation: revealLeft 5s linear forwards 1;
}

/* animations */

/* Letters cannabar and weed leaf reveal */

@keyframes revealLeft {
  0% {
    opacity: .9;
    transform: rotateY(90deg);
  }
  100% {
    opacity: 1;
    transform: rotateY(0deg);
  }
}

p.cannabar span.letter:nth-child(5) {
  animation-delay: .5s;
}

p.cannabar span.letter:nth-child(6) {
  animation-delay: 1s;
}

p.cannabar span.letter:nth-child(7) {
  animation-delay: 1.5s;
}

p.cannabar span.letter:nth-child(9) {
  animation-delay: 2s;
}

p.cannabar span.letter:nth-child(10) {
  animation-delay: 2.5s;
}

p.cannabar span.letter:nth-child(11) {
  animation-delay: 3s;
}

p.cannabar span.letter:nth-child(13) {
  animation-delay: 3.5s;
}

p.cannabar span.letter:nth-child(14) {
  animation-delay: 4s;
}

p.cannabar span.letter:nth-child(15) {
  animation-delay: 4.5s;
}

p.coffeeshop span {
  display: inline-block;
  opacity: 0;
  animation: revealTop 3s linear forwards;
  animation-delay: 6.5s;
}

/* Coffeeshop reveal from top */

@keyframes revealTop {
  0% {
    opacity: 0;
    transform: rotateX(90deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}

p.coffeeshop span:nth-child(1) {
  animation-delay: 6.5s;
}

p.coffeeshop span:nth-child(2) {
  animation-delay: 7s;
}

p.coffeeshop span:nth-child(3) {
  animation-delay: 7.5s;
}